---
layout: main
schema: blog
---
{% render "partials/header.liquid", meta: meta, page: page, nav: nav %}
{%- capture postUrl %}{{ meta.url }}{{ page.url }}{% endcapture -%}
{% capture css %}
  {% render "../assets/styles/plugins/prism.css" %}
  {% render "../assets/styles/pages/post.css" %}
{% endcapture %}
<style>{{ css }}</style>
<div class="default__wrapper">
  <article class="h-entry" data-pagefind-body>
    <div class="flex--centered">
      <time class="dt-published" datetime="{{ date }}">
        {{ date | date: "%B %e, %Y" }}
        <span class="client-side"> • </span>
      </time>
      {% render "partials/share-button.liquid", url:postUrl, title:title, tagMap:collections.tagMap %}
    </div>
    <h2 class="p-name" data-pagefind-meta="title">{{ title }}</h2>
    <div class="text--small">{% render "partials/tags.liquid", tags:tags %}</div>
    <span class="p-author h-card hidden">{{ meta.author }}</span>
    <div class="p-summary hidden">{{ post_excerpt }}</div>
    <div class="e-content">
      {% render "partials/banners/old-post.liquid", date:date %}
      {{ content }}
    </div>
  </article>
</div>
{% render "partials/mastodon-post.liquid", postUrl:postUrl, linkPosts:linkPosts %}
{% render "partials/addon-links.liquid", posts:collections.posts, analytics:analytics, links:links %}